/* styles.module.css */

.navbar {
    display: flex;
    background-color: #00629B;
    overflow: hidden;
  }
  
  .navButton {
    flex: 1;
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .navButton:hover {
    background-color: white;
    color: #00629B;
  }
  
  .active {
    background-color: white;
    color: #00629B;
  }
  