.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.formContainer label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formContainer input[type="text"],
.formContainer input[type="time"],
.formContainer input[type="date"],
.formContainer select,
.formContainer input[type="datetime-local"] {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.formContainer button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    max-width: 100px;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
}

.formContainer button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.formContainer input:disabled {
    background-color: #eeffff;
}

.row {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.row input {
    width: 370px;
}

.column {
    display: flex;
    align-items: center;
    gap: 50px;
}

.column input {
    width: 600px;
}

.widerSelect {
    width: 631px;
}