.pagination {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.pagination button {
  background-color: white;
  color: #C4C4C4;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 0;
}

/* 
.pagination input {
  display: flex;
  align-items: center;
} */

.pageInputs {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  gap: 8px;
  cursor: pointer;
}

.pageButton {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0;
}